body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    position: sticky;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-height: 80vh;
    overflow-y: auto;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    top: 0;
    background-color: #fff;
    padding: 10px 0;
    z-index: 1;
    border-bottom: 2px solid #ddd;
}

#todo-form {
    display: flex;
    justify-content: space-between;
}

#todo-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.add-btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 25%;
}

.add-btn:hover {
    background-color: #218838;
}

#todo-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.todo-item {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    transition: background-color 0.3s;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.todo-item.completed {
    text-decoration: line-through;
    background-color: #d4edda;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c82333;
}